<template name="home">
	<section class="main-section main-section--flex">

		{{#each links}}

		<div class="article-container">
			<div class="article-vote-box">
				<img src="/img/arrow-up.svg" alt="" class="upvote" id="{{_id}}"><span class="rating">{{votes}}</span>
			</div>
			<div class="article-meta-box">
				<a href="{{link}}" class="article-meta-box__name" target="_blank" id="title{{_id}}">{{title}}</a>
				<span class="article-meta-box__views">{{views}}</span>
				<div class="article-meta-box__share">
					<a href="#" class="share-button"><img src="/img/icons/vk.svg" alt=""></a>
					<a href="#" class="share-button"><img src="/img/icons/fb.svg" alt=""></a>
					<a href="#" class="share-button"><img src="/img/icons/tw.svg" alt=""></a>
				</div>
			</div>
		</div>

		{{/each}}

	</section>
</template>