<template name="suggest">
	<section class="main-section main-section--suggest">
		<h1 class="main-section__title">Предложите новость</h1>
		
		<p class="suggest-passage">
			Введите адрес ссылки на новость. <br> Мы проверим информацию и поместим вашу статью в категорию "Последние новости"
		</p>

		<form action="">
			<input type="text" placeHolder="Ссылка на статью, http://primer-ssylki.kz">
			<input type="text" placeHolder="Название статьи">
			<a href="#" id="guess-title">Подсказать</a>
			<input type="submit" value="Отправить" class="suggest-submit-btn">
		</form>
	</section>
</template>