<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="build/styles/main.css">
</head>
<body>

	<div class="body-wrapper">
		
		<div class="mobile-nav">
			<a href="#" class="mobile-logo">NEWS.KZ</a>
			<span class="menu-btn"><span></span></span>
		</div>

		<div class="mobile-menu">
			<a href="suggest.html" class="suggest-article-btn--mobile">
			<img src="img/add.svg" alt="" class="suggest-icon">	
				Предложить новость
			</a>

			<ul class="categories--mobile">
				<li><a href="#" class="active">Последние</a></li>
				<li><a href="#">Популярные</a></li>
				<li><a href="#">Обсуждаемые</a></li>
				<li><a href="#">Категория 4</a></li>
			</ul>

			<ul class="help-about--mobile">
				<li><a href="#">Подписаться</a></li>
				<li><a href="help.html">Помощь</a></li>
				<li><a href="about.html">О сайте</a></li>
			</ul>
		</div>

		<header class="navigation">
			<div class="nav-wrapper">
				<a href="#" class="logo">NEWS-RANKING.KZ</a>
				<a href="suggest.html" class="suggest-article-btn"> 
					<img src="img/add.svg" alt="" class="suggest-icon">
					Предложить новость
				</a>
				<ul class="categories">
					<li><a href="#" class="active">Последние</a></li>
					<li><a href="#">Популярные</a></li>
					<li><a href="#">Обсуждаемые</a></li>
					<li><a href="#">Категория 4</a></li>
				</ul>

				<ul class="help-about">
					<li><a href="#" class="subscribe-menu-btn">Подписаться</a></li>
					<li><a href="help.html">Помощь</a></li>
					<li><a href="about.html">О сайте</a></li>
				</ul>
			</div>
		</header>

		<section class="main-section main-section--flex">
			<div class="article-container">
				<div class="article-vote-box">
					<img src="img/arrow-up.svg" alt="" class="upvote"><span class="rating">100</span>
				</div>
				<div class="article-meta-box">
					<a href="#" class="article-meta-box__name" target="_blank">Афганский студент спас пассажиров во время ДТП с трамваем в Алматы</a>
					<span class="article-meta-box__views">20</span>
					<div class="article-meta-box__share">
						<a href="#" class="share-button"><img src="img/icons/vk.svg" alt=""></a>
						<a href="#" class="share-button"><img src="img/icons/fb.svg" alt=""></a>
						<a href="#" class="share-button"><img src="img/icons/tw.svg" alt=""></a>
					</div>
				</div>
			</div>

			<div class="article-container">
				<div class="article-vote-box">
					<img src="img/arrow-up.svg" alt="" class="upvote"><span class="rating">100</span>
				</div>
				<div class="article-meta-box">
					<a href="http://www.ktk.kz/ru/news/video/2015/10/15/63752" class="article-meta-box__name" target="_blank">В гибели казахстанских десантников виновны командиры подразделений</a>
					<span class="article-meta-box__views">20</span>
					<div class="article-meta-box__share">
						<a href="#" class="share-button"><img src="img/icons/vk.svg" alt=""></a>
						<a href="#" class="share-button"><img src="img/icons/fb.svg" alt=""></a>
						<a href="#" class="share-button"><img src="img/icons/tw.svg" alt=""></a>
					</div>
				</div>
			</div>

			<div class="article-container">
				<div class="article-vote-box">
					<img src="img/arrow-up.svg" alt="" class="upvote"><span class="rating">100</span>
				</div>
				<div class="article-meta-box">
					<a href="http://bnews.kz/ru/news/post/299691/" class="article-meta-box__name" target="_blank">Шведские и финские полицейские задержали 15 нелегальных перевозчиков беженцев</a>
					<span class="article-meta-box__views">20</span>
					<div class="article-meta-box__share">
						<a href="#" class="share-button"><img src="img/icons/vk.svg" alt=""></a>
						<a href="#" class="share-button"><img src="img/icons/fb.svg" alt=""></a>
						<a href="#" class="share-button"><img src="img/icons/tw.svg" alt=""></a>
					</div>
				</div>
			</div>

			<div class="article-container">
				<div class="article-vote-box">
					<img src="img/arrow-up.svg" alt="" class="upvote"><span class="rating">100</span>
				</div>
				<div class="article-meta-box">
					<a href="#" class="article-meta-box__name" target="_blank">Афганский студент спас пассажиров во время ДТП с трамваем в Алматы</a>
					<span class="article-meta-box__views">20</span>
					<div class="article-meta-box__share">
						<a href="#" class="share-button"><img src="img/icons/vk.svg" alt=""></a>
						<a href="#" class="share-button"><img src="img/icons/fb.svg" alt=""></a>
						<a href="#" class="share-button"><img src="img/icons/tw.svg" alt=""></a>
					</div>
				</div>
			</div>

			<div class="article-container">
				<div class="article-vote-box">
					<img src="img/arrow-up.svg" alt="" class="upvote"><span class="rating">100</span>
				</div>
				<div class="article-meta-box">
					<a href="#" class="article-meta-box__name" target="_blank">Афганский студент спас пассажиров во время ДТП с трамваем в Алматы</a>
					<span class="article-meta-box__views">20</span>
					<div class="article-meta-box__share">
						<a href="#" class="share-button"><img src="img/icons/vk.svg" alt=""></a>
						<a href="#" class="share-button"><img src="img/icons/fb.svg" alt=""></a>
						<a href="#" class="share-button"><img src="img/icons/tw.svg" alt=""></a>
					</div>
				</div>
			</div>
			
			
		</section>

		<section class="subscribe-ads-section subscribe-ads-section--flex">
			<div class="subscribe-box">
				<h1 class="subscribe-title">Подпишитесь на еженедельную рассылку</h1>
				<form action="">
					<input type="email" placeHolder="Введите email">
					<input type="submit" value="Отправить">
				</form>
			</div>
			<div class="ad-box"></div>
		</section>

	</div>

<script src="scripts/jquery-2.1.4.min.js"></script>
<script src="scripts/script.js"></script>

</body>
</html>