<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Suggest</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="build/styles/main.css">
</head>
<body>
	
	<div class="body-wrapper">
		<div class="mobile-nav">
			<a href="#" class="mobile-logo">NEWS.KZ</a>
			<span class="menu-btn"><span></span></span>
		</div>

		<div class="mobile-menu">
			<a href="suggest.html" class="suggest-article-btn--mobile">
			<img src="img/add.svg" alt="" class="suggest-icon">	
				Предложить новость
			</a>

			<ul class="categories--mobile">
				<li><a href="#">Последние</a></li>
				<li><a href="#">Популярные</a></li>
				<li><a href="#">Обсуждаемые</a></li>
				<li><a href="#">Категория 4</a></li>
			</ul>

			<ul class="help-about--mobile">
				<li><a href="#">Подписаться</a></li>
				<li><a href="#">Помощь</a></li>
				<li><a href="#">О сайте</a></li>
			</ul>
		</div>

		<header class="navigation">
			<div class="nav-wrapper">
				<a href="#" class="logo">NEWS-RANKING.KZ</a>
				<a href="suggest.html" class="suggest-article-btn"> 
					<img src="img/add.svg" alt="" class="suggest-icon">
					Предложить новость
				</a>
				<ul class="categories">
					<li><a href="#">Последние</a></li>
					<li><a href="#">Популярные</a></li>
					<li><a href="#">Обсуждаемые</a></li>
					<li><a href="#">Категория 4</a></li>
				</ul>

				<ul class="help-about">
					<li><a href="#" class="subscribe-menu-btn">Подписаться</a></li>
					<li><a href="#">Помощь</a></li>
					<li><a href="#">О сайте</a></li>
				</ul>
			</div>
		</header>

		<section class="main-section main-section--suggest">
			<h1 class="main-section__title">Предложите новость</h1>
			
			<p class="suggest-passage">
				Введите адрес ссылки на новость. <br> Мы проверим информацию и поместим вашу статью в категорию "Последние новости"
			</p>

			<form action="">
				<input type="text" placeHolder="Ссылка на статью, http://primer-ssylki.kz">
				<input type="submit" value="Отправить" class="suggest-submit-btn">
			</form>
		</section>

		<section class="subscribe-ads-section">
			<div class="subscribe-box">
				<h1 class="subscribe-title">Подпишитесь на еженедельную рассылку</h1>
				<form action="">
					<input type="email" placeHolder="Введите email">
					<input type="submit" value="Отправить">
				</form>
			</div>
			<div class="ad-box"></div>
		</section>
	</div>

	<script src="scripts/jquery-2.1.4.min.js"></script>
<script src="scripts/script.js"></script>

</body>
</html>